<h3 class="ui header">{{t "forms.i-i-s-vsempoka2-клиенты-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.наимЗаказа
      class=(if (v-get validationModel "наимЗаказа" "isInvalid") "error")
      label=(t "forms.i-i-s-vsempoka2-клиенты-e.наимЗаказа-caption")
      data-test-i-i-s-vsempoka2-клиенты-e-наимЗаказа=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "наимЗаказа" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.иНН
      class=(if (v-get validationModel "иНН" "isInvalid") "error")
      label=(t "forms.i-i-s-vsempoka2-клиенты-e.иНН-caption")
      data-test-i-i-s-vsempoka2-клиенты-e-иНН=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "иНН" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.телефон
      class=(if (v-get validationModel "телефон" "isInvalid") "error")
      label=(t "forms.i-i-s-vsempoka2-клиенты-e.телефон-caption")
      data-test-i-i-s-vsempoka2-клиенты-e-телефон=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "телефон" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.пунктПостав
      class=(if (v-get validationModel "пунктПостав" "isInvalid") "error")
      label=(t "forms.i-i-s-vsempoka2-клиенты-e.пунктПостав-caption")
      data-test-i-i-s-vsempoka2-клиенты-e-пунктПостав=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "пунктПостав" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.расСчет
      class=(if (v-get validationModel "расСчет" "isInvalid") "error")
      label=(t "forms.i-i-s-vsempoka2-клиенты-e.расСчет-caption")
      data-test-i-i-s-vsempoka2-клиенты-e-расСчет=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "расСчет" "message")}}
  </div>
</form>
