<h3 class="ui header">{{t "forms.i-i-s-vsempoka2-товары-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.наимТовара
      class=(if (v-get validationModel "наимТовара" "isInvalid") "error")
      label=(t "forms.i-i-s-vsempoka2-товары-e.наимТовара-caption")
      data-test-i-i-s-vsempoka2-товары-e-наимТовара=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "наимТовара" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.произв
      class=(if (v-get validationModel "произв" "isInvalid") "error")
      label=(t "forms.i-i-s-vsempoka2-товары-e.произв-caption")
      data-test-i-i-s-vsempoka2-товары-e-произв=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "произв" "message")}}
  </div>
  <div class="field" data-test-i-i-s-vsempoka2-товары-e-едИзм="true">
    <label>{{t "forms.i-i-s-vsempoka2-товары-e.едИзм-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-vsempoka2-ед-изм")
      value=model.едИзм
      class=(if (v-get validationModel "едИзм" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "едИзм" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.цена
      class=(if (v-get validationModel "цена" "isInvalid") "error")
      label=(t "forms.i-i-s-vsempoka2-товары-e.цена-caption")
      data-test-i-i-s-vsempoka2-товары-e-цена=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "цена" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.масса
      class=(if (v-get validationModel "масса" "isInvalid") "error")
      label=(t "forms.i-i-s-vsempoka2-товары-e.масса-caption")
      data-test-i-i-s-vsempoka2-товары-e-масса=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "масса" "message")}}
  </div>
</form>
